  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container back " style="top: -10vh;">
      <a href="#intro" class="scrollto mb-5"><img src="assets/img/minictf/minictf_logo.png" width="600px"></a>
      
</div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About</h2>
            <p>A Mini CTF (Capture The Flag) competition is a concise event designed for learning and practicing cybersecurity skills. Participants solve various challenges related to web security, cryptography, and forensics to find hidden "flags" and earn points. These competitions are excellent for developing and honing cybersecurity abilities in a competitive and educational setting.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>ISETCOM Tunis</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Wednesday<br>9 October 2024</p>
          </div>
        </div>
      </div>
    </section>

  


    <!--==========================
      Gallery Section
    ============================-->
    <section id="highlights" style="padding-top: 6%; margin-bottom: 10%;">

      <div class="container">
        <div class="section-header">
          <h2>Highlights</h2>
          <p>Check out the highlights from our events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <a href="assets/img/minictf/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/1.JPG" alt=""></a>
        <a href="assets/img/minictf/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/2.JPG" alt=""></a>
        <a href="assets/img/minictf/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/3.JPG" alt=""></a>
        <a href="assets/img/minictf/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/4.JPG" alt=""></a>
        <a href="assets/img/minictf/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/5.JPG" alt=""></a>
        <a href="assets/img/minictf/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/6.jpeg" alt="" height="204.8px"></a>
        <a href="assets/img/minictf/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/7.jpeg" alt="" height="204.8px"></a>
        <a href="assets/img/minictf/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/minictf/8.jpeg" alt="" height="204.8px"></a>
      </div>

    </section>


  </main>

