  <!--==========================
    Footer
  ============================-->
  <footer id="footer" style="text-align: left;">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="img/logo.png" alt="TheEvenet">
            <p>Engineers Spark is a tunisian cybersecurity club founded in 2014 at ISETCOM. <br>Our mission is to raise awareness about cybersecurity by hosting various events, hands-on workshops and training sessions</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Events</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/Events/PenParty" routerLinkActive="active">PenParty 2023</a></li>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/Events/SparkCTF" routerLinkActive="active">SparkCTF 2024</a></li>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/Events/MiniCTF" routerLinkActive="active">MiniCTF 2024</a></li>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/Events/CyberMaze" routerLinkActive="active">CyberMaze 2024</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Branches</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/Branches/ISETCOM" routerLinkActive="active">Iset'COM</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">UIK</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              ISETCOM Tunis<br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info&#64;engineers-spark.tn<br>
            </p>

            <div class="social-links">
              <a href="https://www.facebook.com/EngineersSparkCommunity" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 2025 <strong>Engineers Spark</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->