
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="" class=""><img src="assets/img/logo.png" alt="Logo"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="">Home</a></li>
          
          <li><a href="">Events</a>
            <ul class="dropdown">
              <li><a href="/Events/SparkCTF" routerLinkActive="active">SparkCTF</a></li>
              <li><a href="/Events/MiniCTF" routerLinkActive="active">MiniCTF</a></li>
              <li><a href="/Events/PenParty" routerLinkActive="active">PenParty</a></li>
              <li><a href="/Events/CyberMaze" routerLinkActive="active">CyberMaze</a></li>
            </ul>
          </li>
          <li><a href="">Branches</a>
            <ul class="dropdown">
              <li><a href="/Branches/ISETCOM" routerLinkActive="active">ISET'COM</a></li>
              <li><a href="#">UIK</a></li>
            </ul>
          </li>          
          <li><a href="">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->