
  
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container ">
          <a href="#intro" class="scrollto mb-5"><img src="assets/img/penparty/logo.png" width="600px" height="600px"></a>
        </div>
      </section>
    
      <main id="main">
    
        <!--==========================
          About Section
        ============================-->
        <section id="about">
            <div class="stars"></div>
          <div class="container ">
            <div class="row">
              <div class="col-lg-6">
                <h2>About</h2>
                <p>The PenParty competition at the Engineers' Spark event is a creative challenge where engineers design and build functional pens based on a given theme. Judged on functionality, innovation, and design, it's a highlight for participants to showcase their engineering and aesthetic skills in a competitive yet collaborative environment.
                    Our mission is to raise awareness about cybersecurity by hosting various events, hands-on workshops and training sessions</p>
              </div>
              <div class="col-lg-3">
                <h3>Where</h3>
                <p>Technopole El Ghazella Tunis</p>
              </div>
              <div class="col-lg-3">
                <h3>When</h3>
                <p>27-28 May 2023</p>
              </div>
            </div>
          </div>
        </section>
    
      
    
    
        <!--==========================
          Gallery Section
        ============================-->
        <section id="highlights" style="padding-top: 6%;">
    
          <div class="container">
            <div class="section-header">
              <h2>Highlights</h2>
              <p>Check out the highlights from our events</p>
            </div>
          </div>
    
          <div class="owl-carousel gallery-carousel">
            <a href="assets/img/penparty/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/1.jpg" alt=""></a>
            <a href="assets/img/penparty/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/2.jpg" alt=""></a>
            <a href="assets/img/penparty/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/3.jpg" alt=""></a>
            <a href="assets/img/penparty/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/4.jpg" alt=""></a>
            <a href="assets/img/penparty/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/5.jpg" alt=""></a>
            <a href="assets/img/penparty/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/6.jpg" alt=""></a>
            <a href="assets/img/penparty/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/7.jpg" alt=""></a>
            <a href="assets/img/penparty/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/penparty/8.jpg" alt=""></a>
        </div>
    
        </section>
    
        <!--==========================
          Sponsors Section
        ============================-->
        <section id="supporters" class="section-with-bg ">
    
          <div class="container">
            <div class="section-header">
              <h2>Sponsors</h2>
            </div>
    
            <div class="row no-gutters supporters-wrap clearfix">
    
              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/oddo.png" class="img-fluid" alt="" >
                </div>
              </div>
              
              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/smart.png" class="img-fluid" alt="" >
                </div>
              </div>
            
              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/isetcom.png" class="img-fluid" alt="" >
                </div>
              </div>
              
              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/wzara.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/s2t.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/defansy.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/TMI.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                  <img src="assets/img/penparty/tellus.png" class="img-fluid" alt="">
                </div>
              </div>
    
            </div>
    
          </div>
    
        </section>
    
    
    
      </main>