 <!--==========================
    Intro Section
  ============================-->
  <section id="">
    <div class="back ">
      <img src="assets/img/sparkctf/logo.svg" width="500px" height="500px">
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About us</h2>
            <p>SparkCTF by Engineers' Spark is a capture-the-flag competition where participants tackle cybersecurity challenges in areas like cryptography, web security, and binary exploitation. It's designed to test and enhance their skills in a competitive, educational environment.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>TED university, Charguia 1</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p> 10 February 2024</p>
          </div>
        </div>
      </div>
    </section>

  


    <!--==========================
      Gallery Section
    ============================-->
    <section id="highlights" style="padding-top: 6%;">

      <div class="container">
        <div class="section-header">
          <h2>Highlights</h2>
          <p>Check out the highlights from our events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <a href="assets/img/sparkctf/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/sparkctf/1.JPG" alt=""></a>
        <a href="assets/img/sparkctf/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/sparkctf/2.JPG" alt=""></a>
        <a href="assets/img/sparkctf/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/sparkctf/3.jpg" alt=""></a>
        <a href="assets/img/sparkctf/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/sparkctf/4.jpg" alt=""></a>
        <a href="assets/img/sparkctf/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/sparkctf/5.jpg" alt=""></a>
        <a href="assets/img/sparkctf/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/sparkctf/6.jpg" alt=""></a>
        <a href="assets/img/sparkctf/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/sparkctf/7.jpg" alt=""></a>
      </div>

    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg ">

      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/sparkctf/ted.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/sparkctf/clevory.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/sparkctf/defansy.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/penparty/isetcom.png" class="img-fluid" alt="">
            </div>
          </div>
          
        

        </div>

      </div>

    </section>



  </main>
