 <!--==========================
    Intro Section
  ============================-->

  
  <script src="assets/js/main.js"></script>
  <section id="intro">
    <div class="intro-container ">
      <a href="#intro" class="scrollto mb-5"><img src="assets/img/ISETCOM/logo_spark.png" width="600px" height="300px"></a>
      
      <p class="mb-4 pb-0"> is a tunisian cybersecurity club founded in 2014 at ISETCOM. <br>Our mission is to raise awareness about cybersecurity by hosting various events, hands-on workshops and training sessions</p>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About us</h2>
            <p>Engineers Spark is an IT club founded at "Iset'com" that reached 7 branches in Tunisian universities. Our goal is to train students so they can gain skills in the IT / CyberSecurity fields that can help them in their student and work life.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Technopole Elghazella <br>ISET'COM TUNIS</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>2014</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" >
      <div class="container">
        <div class="section-header">
          <h2>Team</h2>
          <p>Here are some of our team members</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/ISETCOM/hammadi.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Mohamed Adem Hammadi</a></h3>
                <p>President</p>
                <div class="social">
                  <a href="https://www.facebook.com/adam.tunsi.5"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/mohamedadembenhammadi/overlay/photo/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/ISETCOM/loay.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Louay kaltoum</a></h3>
                <p>Vice-presedent</p>
                <div class="social">
                  <a href="https://www.facebook.com/louay.kaltoum.52"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/louay-kaltoum/overlay/photo/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/ISETCOM/amal.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Amal Toumi</a></h3>
                <p>RH</p>
                <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=61561083360643"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/amal-toumi-5575012b5/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/ISETCOM/amine.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html"> Mohamed Amine Ouerfelli</a></h3>
                <p>Tech Leader</p>
                <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100079924574445"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/mohamedamine-ouerfelli/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/ISETCOM/manar.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Manar Naimi</a></h3>
                <p>Logistec Manager</p>
                <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100086557837539"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/manar-naimi-0295482a5/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/ISETCOM/baha.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Baha Ben Othman</a></h3>
                <p>Media Manager</p>
                <div class="social">
                  <a href="https://www.facebook.com/BoogieWoogieDance69"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/baha-ben-othman-974197244/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  


    <!--==========================
      Gallery Section
    ============================-->
    <section id="highlights">

      <div class="container">
        <div class="section-header">
          <h2>Highlights</h2>
          <p>Check out the highlights from our events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <a href="assets/img/ISETCOM/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/1.jpg" alt=""></a>
        <a href="assets/img/ISETCOM/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/2.JPG" alt=""></a>
        <a href="assets/img/ISETCOM/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/3.JPG" alt=""></a>
        <a href="assets/img/ISETCOM/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/4.jpeg" alt="" style="height: 204.8px;"></a>
        <a href="assets/img/ISETCOM/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/5.jpeg" alt="" style="height: 204.8px;"></a>
        <a href="assets/img/ISETCOM/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/6.jpg" alt=""></a>
        <a href="assets/img/ISETCOM/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/7.jpg" alt=""></a>
        <a href="assets/img/ISETCOM/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/8.jpg" alt=""></a>
        <a href="assets/img/ISETCOM/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/ISETCOM/9.JPG" alt=""></a>
      </div>

    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg ">

      <div class="container">
        <div class="section-header">
          <h2>Partners</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" style="display: flex;align-items: center;justify-content: center;">

          <div class="col-lg-3 col-md-2 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/ISETCOM/isetcom.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-2 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/img/ISETCOM/Tds.png" class="img-fluid" alt="" style="max-width: 422%;height: 196%; margin-top: 21px !important;">
            </div>
          </div>
    

        </div>

      </div>

    </section>



  </main>

