
<section id="intro">
  <div class="intro-container ">
    <a href="#intro" class="scrollto mb-5"><img src="assets/img/logo.png" width="500px" height="500px"></a>
    <h1 class="mb-4 pb-0">Engineers <span>Spark</span></h1>
 </div>
</section>


<main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About us</h2>
            <p>Engineers Spark is a community of IT enthusiasts spread across three universities: ISET'Com, FST and ESPRIT.
             Our club mainly revolves around ICT sciences, with a focus on cybersecurity, as well as web, mobile development and robotics .
              Our goal is to prepare students for better professional integration in the field. This is why we strive to offer quality training in the field of ICT. In addition we work on organizing multiple national events and projects in order for our members to apply their acquired skills.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>ISETCOM</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>2014</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" >
      <div class="container">
        <div class="section-header">
          <h2>Team</h2>
          <p>Here are some of our team members</p>
        </div>

        <div class="row" style="display: flex;align-items: center;justify-content: center;">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/sally.jpg" alt="Speaker 1" class="img-fluid" width="357.6px " style="width:357.6px !important ;height: 357.6px;">
              <div class="details">
                <h3><a href="speaker-details.html">Salyy Ncibi</a></h3>
                <p>President</p>
                <div class="social">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/sally-ncibi-85094522a/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" style="flex: 0 1 48%; max-width: 34%;">
            <div class="speaker">
              <img src="assets/img/kaabi.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Mohamed Ali Kaabi</a></h3>
                <p>Vice-President</p>
                <div class="social">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/mohamed-ali-kaabi-999724219/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/rouissi.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html"> Mohamed Amin ROUISSI</a></h3>
                <p>Co-Tech Leader</p>
                <div class="social">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/mohammed-amin-rouissi/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="assets/img/jesser.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Jasser Chebbi</a></h3>
                <p>Co-Tech Leader</p>
                <div class="social">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/jasser-chebbi-51b77a209/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          
        </div>
      </div>

    </section>
    <script src="assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/lib/easing/easing.min.js"></script>
    <script src="assets/lib/superfish/hoverIntent.js"></script>
    <script src="assets/lib/superfish/superfish.min.js"></script>
    <script src="assets/lib/wow/wow.min.js"></script>
    <script src="assets/lib/venobox/venobox.min.js"></script>
    <script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
  </main>