
  
    <!--==========================
      Intro Section
    ============================-->
    <section id="">
      <div class="back ">
      </div>
    </section>
  
    <main id="main">
  
      <!--==========================
        About Section
      ============================-->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2>About</h2>
              <p>CyberMaze V4, hosted by Engineers Spark at ISETCom, is a dynamic cybersecurity event that blends intense hacking challenges with a rock 'n' roll vibe, offering participants a thrilling competition atmosphere. This event is designed to cater to a broad audience, from experienced hackers to beginners, providing a platform for demonstrating cybersecurity skills and networking with peers. It ensures a focused and engaging experience for all attendees.</p>
            </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p>ISETCOM Tunis</p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>saturday<br>30 November</p>
            </div>
          </div>
        </div>
      </section>
  
    
  
  
      <!--==========================
        Gallery Section
      ============================-->
      <section id="highlights" style="padding-top: 6%;">
  
        <div class="container">
          <div class="section-header">
            <h2>Highlights</h2>
            <p>Check out the highlights from our events</p>
          </div>
        </div>
  
        <div class="owl-carousel gallery-carousel">
          <a href="assets/img/cybermaze/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/cybermaze/1.jpg" alt=""></a>
          <a href="assets/img/cybermaze/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/cybermaze/2.jpg" alt=""></a>
          <a href="assets/img/cybermaze/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/cybermaze/3.jpg" alt=""></a>
          <a href="assets/img/cybermaze/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/cybermaze/4.jpg" alt=""></a>
          <a href="assets/img/cybermaze/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/cybermaze/5.jpg" alt=""></a>
          <a href="assets/img/cybermaze/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/cybermaze/6.jpg" alt=""></a>
          <a href="assets/img/cybermaze/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/cybermaze/7.jpg" alt=""></a>
        </div>
  
      </section>
  
      <!--==========================
        Sponsors Section
      ============================-->
      <section id="supporters" class="section-with-bg ">
  
        <div class="container">
          <div class="section-header">
            <h2>Sponsors</h2>
          </div>
  
          <div class="row no-gutters supporters-wrap clearfix">
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="assets/img/cybermaze/Tds.png" class="img-fluid" alt="" style="max-width: 422%;height: 196%;">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="assets/img/cybermaze/Sfbt.png" class="img-fluid" alt="" style="max-width: 451%;height: 357%;padding-top: 12%;">
              </div>
            </div>
          
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="assets/img/cybermaze/Mad.png" class="img-fluid" alt="" style="max-width: 451%;height: 357%;padding-top: 42%;">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="assets/img/cybermaze/isetcom.png" class="img-fluid" alt="">
              </div>
            </div>
          
  
          </div>
  
        </div>
  
      </section>
  
  
  
    </main>